* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
  font-weight: normal;
}
body {
  height: 98vh;
}
.heading {
  background-color: rgb(30, 80, 30);
  border: solid;
  color: whitesmoke;
  text-align: center;
  padding: 0.25rem;
}
.donate-button {
  background-color: whitesmoke;
  border-radius: 4px;
  border: none;
  padding: 0.25rem;
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.objectives {
  padding: 0.5rem;
}
.what-we-do {
  text-align: center;
  text-decoration-line: underline;
  margin: 10px 0 10px 0;
  font-size: smaller;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  font-size: smaller;
}

.grid-item {
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  box-shadow: 0 0 3px 3px rgba(3, 79, 39, 0.2);
  padding: 10px;

  /*text-align: center;*/
}

/* Responsive layout - makes the menu and the content stack on top of each other */
@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
.card-image {
  object-fit: contain;
  max-width: 250px;
}
.card-text {
  margin-top: 16px;
}
.charity-number {
  text-align: end;
}
.footer {
  height: 20px;
  background: rgb(30, 80, 30);
  position: relative;
  margin-top: 20px;
}
